In [1]:
# install required modules
!pip install pymongo
#!pip install pandas

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages

In [2]:
# access modules
from pandas import pandas as pd
#from pandas.io.json import json_normalize
from pymongo import MongoClient

In [3]:
%matplotlib inline

In [4]:
mongo_client = MongoClient('this-mongo.cc', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [5]:
collection_reference.count()

2157100

In [6]:
# Get the first document
cursor = collection_reference.find()

In [7]:
sample_set = collection_reference.aggregate([{'$sample': {'size': 100}}])
df = pd.DataFrame(list(sample_set))
df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                object
dtype: object

In [8]:
df.head(n=5)

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,filter_level,...,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,user_processed
0,5a6e62cb36dd5f000169654c,None,None,Sun Jan 28 23:54:51 +0000 2018,"[14, 59]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,0,False,low,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...","@MMAdamMartin Imagine him at 145, his natural ...",1517183691545,False,"{'id': 1226542472, 'id_str': '1226542472', 'na...",True
1,5a501bbe47b2a100b505ce25,None,"{'type': 'Point', 'coordinates': [-118.243, 34...",Sat Jan 06 00:43:42 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,0,False,low,...,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Lock yourself in a room doing 5 beats a day fo...,1515199422695,False,"{'id': 1148526530, 'id_str': '1148526530', 'na...",True
2,5a779e7015ba4c000155a2ed,None,None,Sun Feb 04 23:59:44 +0000 2018,"[13, 53]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,0,False,low,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@MattWaldman Eagles... doing free agency effec...,1517788784259,False,"{'id': 21638171, 'id_str': '21638171', 'name':...",True
3,5a7b601f15ba4c00015801ca,None,"{'type': 'Point', 'coordinates': [-121.0057931...",Wed Feb 07 20:22:55 +0000 2018,NaN,"{'hashtags': [{'text': 'job', 'indices': [5, 9...",NaN,0,False,low,...,0,0,0,False,"<a href=""http://www.tweetmyjobs.com"" rel=""nofo...",This #job might be a great fit for you: Progra...,1518034975269,False,"{'id': 98900878, 'id_str': '98900878', 'name':...",True
4,5a71273636dd5f00016b22df,None,None,Wed Jan 31 02:17:25 +0000 2018,"[0, 0]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 958524577872715776, 'id_str'...",0,False,low,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",https://t.co/5KtIMJtqEJ,1517365045369,False,"{'id': 548159597, 'id_str': '548159597', 'name...",True

In [9]:
# check out contributor
df.isnull().sum(axis=0)

_id                           0
contributors                 10
coordinates                   5
created_at                    0
display_text_range            6
entities                      0
extended_entities             9
favorite_count                0
favorited                     0
filter_level                  0
geo                           5
id                            0
id_str                        0
in_reply_to_screen_name       7
in_reply_to_status_id         7
in_reply_to_status_id_str     7
in_reply_to_user_id           7
in_reply_to_user_id_str       7
is_quote_status               0
lang                          0
place                         0
possibly_sensitive            4
quote_count                   0
reply_count                   0
retweet_count                 0
retweeted                     0
source                        0
text                          0
timestamp_ms                  0
truncated                     0
user                          0
user_processed                5
dtype: int64

#### Remove unused/redundant columns

In [10]:
cols = ['contributors', 'coordinates', 'reply_count', 'retweet_count', 'retweeted', 'favorited', 'favorite_count']
df.drop(cols, axis=1, inplace=True)
#df.pop('contributors')
#del df['contributors']

In [17]:
df.head(n=5)

,_id,created_at,display_text_range,entities,extended_entities,filter_level,geo,id,id_str,in_reply_to_screen_name,...,lang,place,possibly_sensitive,quote_count,source,text,timestamp_ms,truncated,user,user_processed
0,5a6e62cb36dd5f000169654c,Sun Jan 28 23:54:51 +0000 2018,"[14, 59]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,957763936639533056,957763936639533056,MMAdamMartin,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,0,Twitter for iPhone,"@MMAdamMartin Imagine him at 145, his natural ...",1517183691545,False,"{'id': 1226542472, 'id_str': '1226542472', 'na...",True
1,5a501bbe47b2a100b505ce25,Sat Jan 06 00:43:42 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,"{'type': 'Point', 'coordinates': [34.0522, -11...",949441309865136128,949441309865136128,None,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,0,Instagram,Lock yourself in a room doing 5 beats a day fo...,1515199422695,False,"{'id': 1148526530, 'id_str': '1148526530', 'na...",True
2,5a779e7015ba4c000155a2ed,Sun Feb 04 23:59:44 +0000 2018,"[13, 53]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,960301879430340609,960301879430340609,MattWaldman,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,0,Twitter for iPhone,@MattWaldman Eagles... doing free agency effec...,1517788784259,False,"{'id': 21638171, 'id_str': '21638171', 'name':...",True
3,5a7b601f15ba4c00015801ca,Wed Feb 07 20:22:55 +0000 2018,NaN,"{'hashtags': [{'text': 'job', 'indices': [5, 9...",NaN,low,"{'type': 'Point', 'coordinates': [40.3059999, ...",961334479368302592,961334479368302592,None,...,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",False,0,TweetMyJOBS,This #job might be a great fit for you: Progra...,1518034975269,False,"{'id': 98900878, 'id_str': '98900878', 'name':...",True
4,5a71273636dd5f00016b22df,Wed Jan 31 02:17:25 +0000 2018,"[0, 0]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 958524577872715776, 'id_str'...",low,None,958524589709058049,958524589709058049,None,...,und,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,0,Twitter for iPhone,https://t.co/5KtIMJtqEJ,1517365045369,False,"{'id': 548159597, 'id_str': '548159597', 'name...",True

#### Parse Source of Tweet

In [11]:
# I want to parse the source column, so I can gather details about the devices used to tweet
df.loc[1, 'source']

'<a href="http://instagram.com" rel="nofollow">Instagram</a>'

In [12]:
df['source'] = df['source'].str.replace('<.*?>', '')
df['source']

0    Twitter for iPhone
1             Instagram
2    Twitter for iPhone
3           TweetMyJOBS
4    Twitter for iPhone
5             Instagram
6             Instagram
7      Twitter for iPad
8             Instagram
9    Twitter Web Client
Name: source, dtype: object

#### Parse Day of Tweet

In [20]:
df['day_of_week'] = df['created_at'].str[0:3]
df['day_of_week']

0    Sun
1    Sat
2    Sun
3    Wed
4    Wed
5    Sun
6    Sat
7    Tue
8    Mon
9    Tue
Name: day, dtype: object

#### Parse User Info

In [ ]:
# name, screen_name, friends_count

#### Place contains location info we need. Coordinates and geo are incomplete/redundant cols that provide a subset of info place provides. So we can remove coordinates and geo

In [13]:
#df.loc[1, 'coordinates']

In [14]:
df.loc[1, 'geo']

{'coordinates': [34.0522, -118.243], 'type': 'Point'}

In [15]:
df.loc[1, 'place'].get('country')

'United States'

In [44]:
x = df['place'].values[1].get('country')
x

'United States'

In [18]:
df.loc[1, 'place']

{'attributes': {},
 'bounding_box': {'coordinates': [[[-118.668404, 33.704538],
    [-118.668404, 34.337041],
    [-118.155409, 34.337041],
    [-118.155409, 33.704538]]],
  'type': 'Polygon'},
 'country': 'United States',
 'country_code': 'US',
 'full_name': 'Los Angeles, CA',
 'id': '3b77caf94bfc81fe',
 'name': 'Los Angeles',
 'place_type': 'city',
 'url': 'https://api.twitter.com/1.1/geo/id/3b77caf94bfc81fe.json'}

In [23]:
df.loc[8, 'entities']

{'hashtags': [{'indices': [39, 47], 'text': 'dawgfan'},
  {'indices': [48, 62], 'text': 'familymatters'},
  {'indices': [63, 77], 'text': 'dariusmccrary'},
  {'indices': [78, 91], 'text': 'eddiewinslow'}],
 'symbols': [],
 'urls': [{'display_url': 'instagram.com/p/BdtPyzngjqD/',
   'expanded_url': 'https://www.instagram.com/p/BdtPyzngjqD/',
   'indices': [93, 116],
   'url': 'https://t.co/adlM4ayDhS'}],
 'user_mentions': []}

In [39]:
#from pandas.io.json import json_normalize 
#json_normalize(list(sample_set))

IndexError: list index out of range

In [51]:
df['user.screen_name']

KeyError: 'screen_name'